.App {
  text-align: center;
  background-color: #2D5D7B;
}

.title{
  font-family: 'Bebas Neue', cursive;
  color: #F97068;
  position: fixed;
  top: 0;
  border: dotted 5px #457EAC;
  margin: 15px;
  padding: 0px 50px 0px 50px;
}

.pomodoro-clock{
  background-color: #DED9E2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #DED9E2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#break-label{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  color: #457EAC;
  border: dashed 3px #F97068;
  padding: 0px 15px 0px 15px;
  align-items: right;
}

#session-label{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  color: #457EAC;
  border: dashed 3px #F97068;
  padding: 0px 15px 0px 15px;
}

#break-decrement{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}

#break-increment{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}

#session-increment{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}

#session-decrement{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}


#timer-label{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  color: #457EAC;
  border: dashed 3px #686868;
  padding: 0px 15px 0px 15px;
}

#start_stop{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}

#reset{
  background-color: #F97068;
  font-size: 20px;
  margin: 5px;
}
